@import '../variables';

.counter-clock {
    --clock-height: 158px;

    display: flex;
    justify-content: center;
    font-family:
        -apple-system,
        BlinkMacSystemFont,
        Segoe UI,
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        Fira Sans,
        Droid Sans,
        Helvetica Neue,
        sans-serif;
}

.counter-clock .counter-block {
    width: var(--clock-height);
    height: var(--clock-height);
    border-radius: 5px;
    background-color: #f7f7fe;
    display: flex;
    justify-content: center;
    align-items: center;
}

.counter-clock .counter-separator {
    width: 60px;
    height: var(--clock-height);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
}

.counter-label,
.counter-number {
    text-align: center;
}

.counter-block .counter-number {
    font-size: 32px;
    font-weight: bold;
    padding-bottom: 10px;
}

.counter-block .counter-label {
    font-size: 20px;
    color: #898999;
    padding-top: 10px;
}

.counter-title {
    text-align: center;
}

.counter-title > h2 {
    color: #293343;
    font-family: Lato, sans-serif;
    font-size: 40px;
    font-weight: 900;
    letter-spacing: 0;
    line-height: 67px;
    margin-top: 100px;
    margin-bottom: 50px;
}
