@import "../variables";
@import "../section";

.about-company {
    @extend .section-padding;
}

.about-company-title {
    @extend .section-title;

    margin-bottom: 30px;
}

.about-company-sub-header {
    color: $gray-4;
    font-family: $font-family-default;
    font-size: 16px;
    letter-spacing: 0;
}

.about-company-paragraph {
    margin-bottom: 60px;

    p {
        @extend .section-paragraph;
    }
}

.about-company-case-studies {
    margin-top: 60px;

    .case-study-title {
        @extend .section-subtitle;

        font-weight: 900;
    }

    a {
        color: $orange;
        font-size: 14px;

        &:hover {
            color: $orange;
        }
    }
}
