@import 'variables';

.section-padding {
    padding-top: 100px;
    padding-bottom: 100px;
}

.section-title {
    color: $gray-5;
    font-family: $font-family-default;
    font-size: 40px;
    font-weight: 900;
    letter-spacing: 0;
    line-height: 67px;
}

.section-subtitle {
    color: $gray-5;
    font-family: $font-family-default;
    font-size: 30px;
    letter-spacing: 0;
    line-height: 67px;
}

.section-paragraph {
    color: $gray-4;
    font-family: $font-family-default;
    font-size: $font-size-body;
    letter-spacing: 0;
    line-height: 30px;
}
