$white: #fff;
$gray-1: #f7f7fe;
$gray-2: #b7b6cf;
$gray-3: #74747f;
$gray-4: #374254;
$gray-5: #293343;
$black: #13132b;

$orange: #ef6036;
$orange-darker: #ff5420;

// Font weights to match the font descriptions in the design (Lato Regular,
// Lato Medium, etc.)
$font-weight-regular: 300;
$font-weight-medium: 400;
$font-weight-bold: 600;
$font-weight-black: 800;

$font-size-body: 18px;
$font-size-small: 0.85rem;
$font-size-regular: 1rem;
$font-size-medium: 1.1rem;
$font-size-large: 3rem;
$font-size-xl: 3.25rem;

$font-family-default: 'Lato', sans-serif;
$font-family-navbar: 'Droid Sans', 'Lato', 'Helvetica Neue', 'Helvetica',
    'Arial', sans-serif;

$card-box-shadow: 0 3px 14px 0 rgba(0, 0, 0, 0.05);

$transition-easing: ease-in;
$transition-duration-fast: 100ms;

// Customize burger icon
$hamburger-types: (slider);
$hamburger-layer-color: $white;
$hamburger-layer-width: 30px;
$hamburger-layer-height: 3px;

// Responsiveness
$breakpoints: (
    'xs': 0,
    'sm': 576px,
    'md': 768px,
    'lg': 992px,
    'xl': 1200px,
    'xxl': 1328px,
);
$container-max-widths: (
    'sm': 540px,
    'md': 720px,
    'lg': 960px,
    'xl': 1140px,
    'xxl': 1300px,
);

@mixin until-sm {
    @media (max-width: map-get($breakpoints, 'sm')) {
        @content;
    }
}

@mixin until-md {
    @media (max-width: map-get($breakpoints, 'md')) {
        @content;
    }
}

@mixin over-md {
    @media (min-width: map-get($breakpoints, 'md')) {
        @content;
    }
}

@mixin until-lg {
    @media (max-width: map-get($breakpoints, 'lg')) {
        @content;
    }
}

@mixin after-xl {
    @media (min-width: map-get($breakpoints, 'xl')) {
        @content;
    }
}
